/* 共通ボタン */
.top-main__menu--list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.top-main__menu--list .item-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    width: calc(100% / 2 - 10px);
}

.top-main__menu--list .item-btn__link {
    width: 100%;
}


.answer-list__btn {
    width: calc(100% / 2 - 20px);
}


.top-main__menu--list .item-btn__link,
.answer-list__btn {
    background: #fff;
    border: 3px solid #efefef;
    border-radius: 20px;
    color: #4d4d4d;
    display: block;
    font-size: 18px;
    line-height: 1;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

.top-main__menu--list .item-btn__link:hover,
.answer-list__btn:hover {
    background: #00eccc;
    border: 3px solid #09f3f3;
    color: #9a9600;
    cursor: pointer;
}




@media screen and (max-width: 767px) {
    .top-main__menu--list .item-btn__link,
    .answer-list__btn {
        font-size: 16px;
        padding: 10px;
    }

    .top-main__menu--list {
        display: block;
    }

    .top-main__menu--list .item-btn {
        width: 100%;
    }

    .top-main__menu--list .item-btn:nth-child(n+2) {
        margin-top: 20px;
    }

    .top-main__menu--item .link {
        padding: 30px 0;
        width: 100%;
    }

    .answer-list {
        display: block;
    }

    .answer-list__btn:nth-child(n+2) {
        margin-top: 20px;
    }

    .answer-list__btn {
        width: 100%;
    }
}
